@define-color workspace_background rgba(0, 0, 0, 0);
@define-color module_left_background rgba(26, 27, 35, 0.8);
@define-color module_center_background rgba(26, 27, 35, 0.8);
@define-color module_right_background rgba(26, 27, 35, 0.8);

@define-color white rgba(255, 255, 242, 1);

* {
  font-family: "monospace";
  font-weight: 500;
  color: @white;
  border-radius: 4px;
}

window#waybar {
  background-color: @workspace_background;
}

.modules-left {
  background-color: @module_left_background;
  margin: 6px 0 0 6px;
}
.modules-center {
  background-color: @module_center_background;
  margin: 6px 0 0 0;
}
.modules-right {
  background-color: @module_right_background;
  margin: 6px 6px 0 0;
  padding: 0 6px;
}

/* Left */
#workspaces button {
  color: @white;
  opacity: 0.2;
}
#workspaces button.active {
  opacity: 1;
}
#workspaces button:hover {
  opacity: 0.6;
  border-color: @white;
}

/* Center */
#taskbar button {
  color: @white;
  opacity: 0.5;
}
#taskbar button.active {
  opacity: 1;
}
#taskbar button:hover {
  opacity: 0.8;
  border-color: @white;
}
